
@{
    ViewData["Title"] = "Play";
    Layout = "~/Views/Shared/_userNavTable.cshtml";
}

<a asp-action="Local" asp-controller="User">Local</a>
<a asp-action="Online" asp-controller="User">Online</a>

